[Desktop Entry]
Name=BKchem
Name[pl]=BKchem
Comment=Two-dimensional molecule drawing program
Comment[pl]=Program do rysowania dwuwymiarowych cząsteczek
Icon=bkchem
Exec=bkchem
Terminal=false
Type=Application
Categories=Education;Science;Chemistry;
# vi: encoding=utf-8
